<div class="m-5 pt-5">
    <div class="alert alert-warning mt-5" role="alert">
        <h4>
            Your cart is empty, please 
            <%= link_to "click here", root_path, class: "text-danger" %> to continue shopping
        </h4>
    </div>
</div>