<div class="d-flex flex-wrap">
<% @results.each do |result| %>
    <div class="card m-4" style="width: 18rem;">
        <%= image_tag result.image ,class: "card-img-top p-3" %>
        <div class="card-body">
            <h5 class="card-title">
                <%= result.title %>
            </h5>
            <h5 class="card-text">
                <%= result.price %>
            </h5>
            <%= link_to 'Go to Product', result, class: "btn btn-warning" %>
        </div>
    </div>
<% end %>
</div>