<div>
    <h2> Welcome to PC Store </h2>
    <hr />
    <div class="top-flex">
        <h5 class="customized-search">
            <%= link_to 'Search for users', search_path %>
        </h5>
    </div>
    <div>
        <%= render @products %>
    </div>
</div>

<script type="text/javascript">
    $(".filters-select").on('change', function () {
        console.log(this.value)
    })
</script>