<nav class="navbar fixed-bottom navbar-light" 
    style="background-color: #0E1F2F">
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <h6 class="text-white py-2 pb-1"> Made by Sravan #promptcloud21 </h6>
  </div>
</nav>